Makefile
Makefile.in*
.[A-Za-z]*
*~
*.o

aclocal.m4
autom4te.cache
depcomp
install-sh
ltmain.sh
missing
compile
config.*
configure
LINGUAS
POTFILES
stamp-*

*.desktop
*.1
*.ui
data/ui/about.glade
*.gmo
src/pcmanfm
